@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Montserrat:ital,wght@1,600&display=swap&text=TideSave");

$font: "Inter", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

body {
  background-color: hsl(216, 33%, 97%);
  margin: 0;
  font-family: $font;
  color: #333;
}
